@model WebApp.Models.ActorMoviesViewModel

@{
    ViewData["Title"] = "Movies for " + Model.Actor.PersonName;
}

<h1>Movies for @Model.Actor.PersonName</h1>

<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Budget</th>
        <th>Popularity</th>
        <th>Homepage</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var movie in Model.Movies)
    {
        <tr>
            <td>@movie.Title</td>
            <td>@movie.Budget</td>
            <td>@movie.Popularity</td>
            <td><a href="@movie.Homepage" target="_blank">@movie.Homepage</a></td>
        </tr>
    }
    </tbody>
</table>

<a href="@Url.Action("AddMovie", "Actor", new { actorId = Model.Actor.PersonId })" class="btn btn-success">
    Add Movie
</a>